* {
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.headline {
    background-color: #F1F1F1;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 1110px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
    .headline-section {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .headline-section {
        display: flex;
        justify-content: center;
    }
}

.title {
    order: 1;
    background-color: #F1F1F1;
    cursor: pointer;
}


.menu {
    background-color: #F1F1F1;
    display: flex;
    order: 2;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}

.nav li {
    list-style: none;
    padding: 8px;
    display: inline-block;
    background-color: #F1F1F1;
    font-family: 'Avenir Light', sans-serif;
    font-weight: 100;
}

.nav li a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
    background-color: #F1F1F1;
    font-family: 'Avenir Light', sans-serif;
}

.nav li a:hover {
    border-bottom: 1px solid black;
    color: #990B0B;
}
.welcome-section {

}

.main-img {
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button0 {
    position: absolute;
    top: 23%;
    left: 26%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', sans-serif;
    padding: 20px 25px;
    font-size: 14px;
    color: #000000;
    background-color: #F1F1F1;
    border: none;
    border-radius: 0;
    text-decoration: none;
}

.button0:hover {

    color: #990B0B;
}

.button1 {
    position: absolute;
    top: 41%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', sans-serif;
    padding: 15px 30px;
    font-size: 14px;
    color: #990B0B;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-decoration: none;
}

.button1:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
}

.button2 {
    position: absolute;
    top: 52%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', sans-serif;
    padding: 15px 30px;
    font-size: 14px;
    color: #990B0B;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-decoration: none;
}

.button2:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
}

.button3 {
    position: absolute;
    top: 63%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', sans-serif;
    padding: 15px 30px;
    font-size: 14px;
    color: #990B0B;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-decoration: none;
}

.button3:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
}

.description {
    font-family: 'Avenir Light', sans-serif;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #000000;
    margin: 0 auto;
    width: 1110px;
}

.description p {
    font-family: 'Avenir Light', sans-serif;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #000000;
    margin: 0 auto;
    width: 1110px;
}

.footer {

}

.contact {

}